apiVersion: apps/v1
kind: Deployment
metadata:
  name: irecruit-mongo
spec:
  replicas: 1
  selector:
    matchLabels:
      app: irecruit-mongo
  template:
    metadata:
      labels:
        app: irecruit-mongo
    spec:
      containers:
        - name: mongo
          image: mongo:7
          ports:
            - containerPort: 27017
          env:
            - name: MONGO_INITDB_ROOT_USERNAME
              value: "root"
            - name: MONGO_INITDB_ROOT_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: irecruit-secrets
                  key: MONGO_INITDB_ROOT_PASSWORD
          volumeMounts:
            - name: mongo-data
              mountPath: /data/db
      volumes:
        - name: mongo-data
          emptyDir: {}
---
apiVersion: v1
kind: Service
metadata:
  name: irecruit-mongo
spec:
  selector:
    app: irecruit-mongo
  ports:
    - name: mongo
      port: 27017
      targetPort: 27017
  type: ClusterIP
